trigger:
- main

variables:
  pythonVersion: '3.11'
  imageName: 'hellosre-api'
  location: 'Central India'
  project: 'hellosre'

  # globally unique ACR name (lowercase + numbers)
  acrName: 'tamilhellosreacr92715'

  tfDir: 'infra'

stages:
- stage: BuildPush
  displayName: "Build & Push Image to ACR"
  jobs:
  - job: docker
    displayName: "Docker Build & Push"
    pool:
      name: 'selfhosted'
    steps:
    - task: AzureCLI@2
      displayName: "ACR login + docker build/push (Windows agent)"
      inputs:
        azureSubscription: 'azure-sc-hellosre'
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          $ErrorActionPreference = "Stop"

          az --version

          # Ensure RG exists
          az group create -n "$(project)-rg" -l "$(location)" | Out-Null

          # Create ACR if not exists
          $acrExists = $true
          try {
            az acr show -n "$(acrName)" | Out-Null
          } catch {
            $acrExists = $false
          }

          if (-not $acrExists) {
            az acr create -n "$(acrName)" -g "$(project)-rg" -l "$(location)" --sku Basic --admin-enabled true | Out-Null
          }

          $acrLoginServer = az acr show -n "$(acrName)" --query loginServer -o tsv
          Write-Host "ACR: $acrLoginServer"

          az acr login -n "$(acrName)"

          $tag = "$(Build.BuildId)"
          docker build -t "$acrLoginServer/$(imageName):$tag" .
          docker push "$acrLoginServer/$(imageName):$tag"

          Write-Host "##vso[task.setvariable variable=imageTag;isOutput=true]$tag"
      name: acrStep

- stage: Deploy
  displayName: "Deploy: Terraform Apply"
  dependsOn: BuildPush
  variables:
    imageTag: $[ stageDependencies.BuildPush.docker.outputs['acrStep.imageTag'] ]
  jobs:
  - job: terraform
    displayName: "Terraform Deploy"
    pool:
      name: 'selfhosted'
    steps:
    - task: AzureCLI@2
      displayName: "Terraform init/plan/apply (Windows agent)"
      inputs:
        azureSubscription: 'azure-sc-hellosre'
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          $ErrorActionPreference = "Stop"

          az --version

          # Make sure terraform exists
          terraform -version

          # Ensure RG exists
          az group create -n "$(project)-rg" -l "$(location)" | Out-Null

          Set-Location "$(tfDir)"

          terraform init

          terraform plan `
            -var="location=$(location)" `
            -var="project=$(project)" `
            -var="acr_name=$(acrName)" `
            -var="image_name=$(imageName)" `
            -var="image_tag=$(imageTag)"

          terraform apply -auto-approve `
            -var="location=$(location)" `
            -var="project=$(project)" `
            -var="acr_name=$(acrName)" `
            -var="image_name=$(imageName)" `
            -var="image_tag=$(imageTag)"

          Write-Host "Deployed URL:"
          terraform output -raw webapp_url