trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'
  displayName: 'Use Python'

- script: |
    python -m pip install --upgrade pip
    pip install -r app/requirements.txt
    pip install pytest
    pytest tests/
  displayName: 'Run tests'

- script: |
    docker build -t hellosre:$(Build.BuildId) .
  displayName: 'Docker build'